#maratp
{
  .block-article
  {
      .chapo
      {
        font-weight: bold;
        font-size: 0.875em;
        font-family: inherit !important;
        text-align: inherit;
      }
  }
}

.inner-content
{
  padding: 0.4em 1.4em;
}

.block-article
{
  font-family: 'Open Sans';
  font-size: 0.875em;
  line-height: 1.5;

  border: 1px solid #ececec;

  border-top-width: 7px;
  border-top-color: @vertAplat;

  ul
  {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  h3,p.rubrique
  {
    font-family: 'brandon_grotesquebold';
  }

  p,h3,h4
  {
    margin: 0;
  }

  .tel
  {
    margin-top: 0.5em;
  }

  img
  {
    max-width: 100%;
  }

  header
  {
    p.rubrique
    {
      font-size: 0.688em;
      text-transform: uppercase;
    }

    h3
    {
      margin: 0.2em 0 0.4em;
      font-size: 1.688em;
      line-height: 1;
      text-transform: uppercase;
    }

    &.focus
    {
      background-color: #eaeaea;
      overflow: hidden;

      p
      {
        &.date
        {
          font-size: 0.8em;
        }
      }

      .meta
      {
        float: left;
        text-transform: uppercase;
        padding: 1em 1em 0;
      }

      figure
      {
        float: right;

        img
        {
          display: block;
        }
      }
    }

    &.inner-content
    {
      padding-top: 1.6em;
      padding-bottom: 1.6em;
    }
  }

  .block-content
  {
    padding: 1em 1.4em;
    position: relative;

    h3
    {
      margin: 0;
      text-transform: uppercase;
    }

    h4
    {

      margin: 0 0 0.6em;

    }

    p
    {
      margin: 0 0 0.4em;
      font-size: 0.85em;

      &.rubrique
      {
        margin-bottom: 0;
      }
    }

    .help
    {
      position: absolute;
      right: 1em;
      top: 1em;
      /*width: 15px;
      height: 15px;
      background: url(../img/picto-help.png) no-repeat;*/
    }

    .panel-bottom
    {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #f2f2f2;
      padding: 1.4em 2em;
      text-align: center;
      text-transform: uppercase;
      color: #9d9d9d;

      font-family: 'brandon_grotesquebold';
    }
  }

  &.block-full
  {
    //overflow: hidden;
    position: relative;

    @leftSpace: 32%;
    @rightSpace: 20%;

    .block-content
    {
      margin: 0 @rightSpace 0 @leftSpace;
      border-left: 1px solid #ededed;
      border-right: 1px solid #ededed;
      min-height: 25em;
      position: relative;
      padding: 1em 1.5em 10em;
      overflow: hidden;

      .action
      {
        position: absolute;
        bottom: 1em;
        margin: 0;
      }

      h4
      {
        margin: 1em 0;
        font-weight: normal;
        font-size: 1.25em;
        text-transform: none;
      }
    }

    .meta,aside
    {
      position: absolute;
      top: 0;
    }

    .meta
    {
      //float: left;
      left: 0;
      width: @leftSpace;
      text-transform: uppercase;
      //font-size: 0.9em;

      h3
      {
        margin: 0 0 1em;
        font-size: 1.5em;
        line-height: 1.1;
        font-family: @primary-font-black;
      }

      .rubrique
      {
        font-size: 0.688em;
        margin: 1em 0 0.2em;
      }

      .date
      {
        font-size: 1.125em;
      }
    }

    aside
    {
      //float: right;
      right: 0;
      width: @rightSpace;
      font-size: 0.9em;

      .logo
      {
        text-align: center;
        margin: 2em 0 2.4em;
      }
    }
  }

  footer
  {
    overflow: hidden;
    padding: 0 1em 1em;
  }

  .group-action
  {
    margin-top: 2em !important;

    .block-action
    {
      display: block;
      margin: 0 !important;
      text-align: center;
      // font-size: 1.1em; Remplacé par celui du dessous pour la page Anti train train
      font-size: 0.875em;
    }
  }

  .block-action
  {
    display: inline-block;
    padding: 0.8em 10%;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: 'brandon_grotesquebold';

    &.go
    {
      background-color: #fdcf00;
      color: @texte;
      border: 1px solid #fdcf00;

      &:hover, &:focus { background: #FFF; }
    }

    &.share
    {
      background-color: #ebebeb;
      color: @texte;
      border: 1px solid #ebebeb;

      &:hover, &:focus { background: #FFF; }
    }

    & + .block-action
    {
      margin-left: 8%;
    }
  }

  .action
  {
    font-size: 1.4em;
    //font-family: 'brandon_grotesquebold';

    .block-action
    {
      background-color: @vertTexte;
      color: #fff;
      padding-left: 5em;
      padding-right: 5em;
      border: 1px solid @vertTexte;

      &:hover, &:focus { background: #FFF; border-color: @vertTexte; color: @texte; }
    }
  }

  .lieu
  {
    float: right;
    text-align: right;

    p
    {
      margin: 0;
    }
  }

  &.block-voirfaire
  {
    border-top-color: #fdcf00;
  }

  dl
  {
    //overflow: hidden;
    dt,dd
    {
      display: inline;
      margin: 0;
    }

    dt
    {
      font-weight: bold;
      font-family: 'Open Sans';
      //font-size: 0.9em;
      text-transform: uppercase;
      margin-right: 0.2em;
    }

    dd
    {
      &:after
      {
        display: block;
        content: '\A0';
        font-size: 0;
      }
    }
  }

  ul
  {
    &.links {line-height: 2.2em;}
    &.links,&.metro
    {
      margin: 1em 0;
    }

    &.links
    {
      li
      {
        margin: 0 0 0.6em;
        a {color: #333333; font-size: 1em;text-decoration: underline;}
      }
    }

    &.metro
    {
      li
      {
        //line-height: 1.6;
      }
    }
  }
}

.block-row
{
  overflow: hidden;
  position: relative;

  .block-column
  {
    //float: left;
    display: inline-block;
    vertical-align: top;

    dl.block-content
    {
      min-height: 6em;
    }

    div.main-info
    {
      min-height: 8em;
    }
  }

  & + .block-row
  {
    margin: 2em 0 0;
  }

  &.row-full
  {
    .block-article + .block-article
    {
      margin: 2em 0 0;
    }

    .block-column
    {
      display: block;
    }

    .bandeau-message
    {
      position: absolute;
      top: 103%;
      left: 0;
      right: 0;

      &.ui-state-active
      {
        top: 0;
      }

      background-color: @vertTexte;
      color: #fff;
      padding: 2em;
      text-align: center;
      font-size: 1.1em;

      p
      {
        display: inline-block;

        b
        {
          margin-left: 1em;
          font-weight: inherit;
        }
      }

      .social-action
      {
        display: inline-block;
        vertical-align: middle;
        margin-left: 1.5em;

        li,a
        {
          display: inline-block;
        }

        li
        {
          background-color: #fff;

          & + li
          {
            margin-left: 1em;
          }
        }

        a
        {
          color: @vertTexte;

          &:before
          {
            font-size: 30px;
          }
        }
      }
    }
  }

  &.row-2-columns
  {
    .block-1-column
    {
      width: 48%;

      & + .block-1-column
      {
        margin-left: 4%;
      }
    }
  }

  &.row-3-columns
  {
    .block-1-column
    {
      width: 32%;
      margin-bottom: 2em;

      & + .block-1-column
      {
        margin-left: 1.5%;
      }

      // IE 8
      &:nth-child(3n+1)
      {
        margin-left: 0;
      }
    }
  }
}

.block-privilege, .block-service,.block-coupsdecoeur
{
  .block
  {
    min-height: 12em;
  }

  .action
  {
    .block-action
    {
      padding-left: 3em;
      padding-right: 3em;
      letter-spacing: 1px;
    }
  }

  .logo
  {
    float: right;
    width: 25%;
    text-align: center;
  }

  h2
  {
    text-transform: uppercase;
    font-size: 1.9em;
    line-height: 1;
    margin: 0.4em 0 ;
  }

  .accroche
  {
    font-size: 1.4em;
    font-weight: bold;
  }

  .inner-content
  {
    padding-top: 1em;
    padding-bottom: 2em;
  }
}

.block-service
{
  border-top-color: #1D3768;

  .action .block-action,.btn,.bx-next,.bx-prev,.bx-wrapper .bx-controls-direction a::before
  {
    background-color: #1D3768;
  }

  .action .block-action,.btn
  {
    border: 1px solid #1D3768 !important;
  }

.action .block-action,.btn,.bx-next,.bx-prev
{
    &:hover, &:focus { background-color: #FFF; }
  }
}

.block-coupsdecoeur
{
  border-top-color: #d2388c;

  .action .block-action,.btn,.bx-next,.bx-prev,.bx-wrapper .bx-controls-direction a::before
  {
    background-color: #d2388c;
  }

  .action .block-action,.btn
  {
    border: 1px solid #d2388c !important;
  }

    .action .block-action,.btn,.bx-next,.bx-prev
    {

    &:hover, &:focus { background-color: #FFF; }
  }
}

.block-panel
{
  .action
  {
    z-index: 2;
  }
}
// Form panels

.form-slide
{
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;//100%;
  right: 0;
  overflow: hidden;

  z-index: 1;
}

#form-slide-block
{
  &.form-active
  {
    .action
    {
      z-index: 0;
    }
  }
}

.block-article .block-content .form-panel .top-space { font-size: 1.2em;}

.form-panel
{
  @panelSpacing: 2em;

  background-color: @vertTexte;
  color: #fff;
  padding: @panelSpacing;
  //left: 100%;
  //right: 0;
  //
  // float: left;
  // position: relative;

  .transition(top 1s);

  position: absolute;
  left: 0;

  font-family: 'brandon_grotesquelight';

  //
  // &.panel-active,&[aria-hidden='false']
  // {
  //   left: 0;
  // }

  &[aria-hidden='false']
  {
    //display:block;
    top: 0 !important;

  }
  &[aria-hidden='true']
  {
    //display:none;
  }

  &.message-panel
  {
    text-align: center;
    font-size: 1.8em;
    padding-top: 6em;

    .action-focus
    {
      padding: 0.4em 3em 0.4em 1.5em;
      font-size: 0.8em;
      margin-top: 1.6em;
      font-size: 0.6em;
    }

    b
    {
      font-weight: inherit;
    }

    .ico-mail
    {
      position: relative;

      &:before
      {
        position: absolute;
        right: 0.5em;
        font-size: 1.4em;
      }
    }

    p
    {
      font-family: 'brandon_grotesquebold';
    }
  }

  h3
  {
    font-size: 3em;
    font-family: inherit;
    font-weight: normal;
    margin: 1.5em 0 1em !important;
  }

  label
  {
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0 0 1em;

    font-family: 'brandon_grotesquebold';

    &.raw
    {
      text-transform: none;
      font-family: 'brandon_grotesquelight';
      display: inline-block;
    }
  }

  input[type=text]
  {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    color: inherit;
    line-height: 3;
  }

  button
  {
    font-family: inherit;
    font-size: 1.4em;
  }

  p.note
  {
    margin-top: 4em !important;
  }

  p.top-space
  {
    padding-top: 10em;
  }

  .panel-content
  {
    font-size: 1.4em;

    a
    {
      color: inherit;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  @panelIconeSize: 1.5em;
  @closeIconeSize: 1.4em;
  .panel-close,.panel-next,.panel-prev
  {
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.6em;
  }

  .panel-next,.panel-prev
  {
    &::before
    {
      position: absolute;
      top: 50%;
      font-size: @panelIconeSize;
      width: @panelIconeSize;
      line-height: 1;
      margin-top: -(@panelIconeSize/3);
    }
  }

  .panel-close
  {
    position: absolute;
    top: @panelSpacing;
    right: @panelSpacing;
    padding-right: @closeIconeSize+0.8em;

    &.ico-close
    {
      &:before
      {
        font-size: @closeIconeSize;
        line-height: 1;
        width: @closeIconeSize;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -(@closeIconeSize/3);
      }
    }
  }

  .main-action
  {
    text-align: center;
    margin: 2em 0 !important;

    .action-focus
    {
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .action-focus
  {
    background-color: #fff;
    border: none;
    color: @vertAplat;
    padding: 0.8em 2.5em;
    border: 1px solid #fff;
    display: inline-block;
    //font-weight: bold;
    font-family: 'brandon_grotesquebold';
    font-size: 0.875em;

    b
    {
      text-transform: uppercase;
    }

    &:hover, &:focus {background: @vertTexte; color: #fff; }
  }

  .styled-check
  {
    overflow: hidden;
    position: relative;
    border: 1px solid #fff;
    height: 1em;
    width: 1em;
    margin: 0 0.5em 0 0 !important;
    display: inline-block;
    vertical-align: top;

    input[type=checkbox]
    {
      position: absolute;
      right: 100%;
      top: 0;
      //opacity: 0;
    }

    &.ico-check
    {
      &:before
      {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 1em;
        width: 1em;
        margin: -0.5em 0 0 -0.5em;
      }
    }
  }

  .btn-action
  {
    //overflow: hidden;
    position: absolute;
    left: @panelSpacing;
    right: @panelSpacing;
    bottom: 3em;
  }

  .panel-next
  {
    float: right;
    padding-right: @panelIconeSize+0.2em;
    text-align: right;

    &.ico-circle-next
    {
      &:before
      {
        right: 0;
      }
    }
  }

  .panel-prev
  {
    float: left;
    padding-left: @panelIconeSize+0.2em;
    text-align: left;

    &.ico-circle-prev
    {
      &:before
      {
        left: 0;
      }
    }
  }
}

.metro,.rer
{
  font-family: 'Open Sans';
  font-weight: bold;
  //font-size: 0.9em;

  line-height: 2;
  position: relative;

  [class^="ico-"]
  {
    font-size: 1.3em;
  }

  @transportPictoRadius: 18px;//1.6em;

  //padding-left: @transportPictoRadius + 6px;// + 0.4em;

  img
  {
    vertical-align: middle;
  }

  p&
  {
    text-transform: uppercase;
    font-size: 1.1em;

    .imgLigne
    {
      //line-height: @pictoRadius;
      // height: @transportPictoRadius;
      // width: @transportPictoRadius;
      // background-repeat: no-repeat;
      // background-size: contain;
      // content: '\A0';

      display: inline-block;
      vertical-align: middle;

      margin-right: 4px;

      // position: absolute;
      // left: 0;
      // top: 50%;
      // margin-top: -(@transportPictoRadius/2)

      /*border: 2px solid #e4b800;
      color: #e4b800;
      .box-sizing(content-box);
      font-size: 0.8em;
      text-align: center;
      .border-radius(50%);*/
    }
  }
}

p.rer
{
  // &:before
  // {
  //   background-image: url('@{imageDir}rer-full.png');
  // }

  .ligne
  {
    border: 2px solid #e4b800;
    color: #e4b800;
    .box-sizing(content-box);
    font-size: 0.95em;
  }

  //003f90 couleur icone metro,rer
}

p.metro
{
  margin-top: 1.5em;

  & + p.metro
  {
    margin-top: 0;
  }

  // &:before
  // {
  //   background-image: url('@{imageDir}metro.png');
  // }
}
