.block-article
{
  border: 1px solid #ececec;

  border-top-width: 4px;
  border-top-color: @vertAplat;

  ul
  {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  h3,p.rubrique
  {
    font-family: 'brandon_grotesquebold';
  }

  p,h3,h4
  {
    margin: 0;
  }

  img
  {
    max-width: 100%;
  }

  header
  {
    p.rubrique
    {
      font-size: 0.7em;
      text-transform: uppercase;
    }

    h3
    {
      margin: 0.2em 0 0.4em;
      font-size: 1.2em;
      text-transform: uppercase;
    }

    &.focus
    {
      background-color: #eaeaea;
      overflow: hidden;


      p
      {
        &.date
        {
          font-size: 0.8em;
        }
      }

      .meta
      {
        float: left;
        text-transform: uppercase;
        padding: 1em 1em 0;
      }

      figure
      {
        float: right;

        img
        {
          display: block;
        }
      }
    }
  }

  .chapo
  {
    font-weight: bold;
  }

  .block-content
  {
    padding: 1em;
    position: relative;

    h3
    {
      margin: 0;
      text-transform: uppercase;
    }

    h4
    {

      margin: 0 0 0.6em;

    }

    p
    {
      margin: 0 0 0.4em;

      &.rubrique
      {
        margin-bottom: 0;
      }
    }

    .help
    {
      position: absolute;
      right: 1em;
      top: 1em;
      /*width: 15px;
      height: 15px;
      background: url(../img/picto-help.png) no-repeat;*/
    }
  }

  &.block-full
  {
    overflow: hidden;

    @leftSpace: 27%;
    @rightSpace: 16%;

    .block-content
    {
      margin: 0 @rightSpace 0 @leftSpace;
      border-left: 1px solid #ededed;
      border-right: 1px solid #ededed;
      min-height: 300px;
      position: relative;
      padding: 1em 1.5em;

      .action
      {
        position: absolute;
        bottom: 1em;
        margin: 0;
      }

      h4
      {
        margin: 1em 0;
      }
    }

    .meta
    {
      float: left;
      width: @leftSpace;
      text-transform: uppercase;
      font-size: 0.9em;

      h3
      {
        margin: 0 0 1em;
        font-size: 1.1em;
      }

      .rubrique
      {
        font-size: 0.7em;
        margin: 0 0 0.2em;
      }
    }

    aside
    {
      float: right;
      width: @rightSpace;
      font-size: 0.9em;

      .logo
      {
        text-align: center;
        padding-top: 1em;
      }
    }
  }

  footer
  {
    overflow: hidden;
    padding: 0 1em 1em;
  }

  .group-action
  {
    margin-top: 2em !important;

    .block-action
    {
      display: block;
      margin: 0 !important;
      text-align: center;
    }
  }

  .block-action
  {
    display: inline-block;
    padding: 0.8em 10%;
    text-transform: uppercase;
    font-size: 0.8em;

    &.go
    {
      background-color: #fdcf00;
      color: @texte;
    }

    &.share
    {
      background-color: #ebebeb;
      color: @texte;
    }

    & + .block-action
    {
      margin-left: 8%;
    }
  }

  .action
  {
    .block-action
    {
      background-color: @vertAplat;
      color: #fff;
      padding-left: 5em;
      padding-right: 5em;
    }
  }

  .lieu
  {
    float: right;
    text-align: right;

    p
    {
      margin: 0;
    }
  }

  &.block-voirfaire
  {
    border-top-color: #fdcf00;
  }

  dl
  {
    //overflow: hidden;
    dt,dd
    {
      display: inline;
      margin: 0;
    }

    dt
    {
      font-weight: bold;
      font-family: 'Open Sans';
      font-size: 0.9em;
      text-transform: uppercase;
      margin-right: 0.2em;
    }

    dd
    {
      &:after
      {
        display: block;
        content: '\A0';
        font-size: 0;
      }
    }
  }

  ul
  {
    &.links,&.metro
    {
      margin: 1em 0;
    }

    &.metro
    {
      li
      {
        line-height: 1.6;
      }
    }
  }
}

.block-row
{
  overflow: hidden;

  .block-column
  {
    //float: left;
    display: inline-block;
    vertical-align: top;

    dl.block-content
    {
      min-height: 6em;
    }

    div.main-info
    {
      min-height: 8em;
    }
  }

  & + .block-row
  {
    margin: 2em 0 0;
  }

  &.row-full
  {
    .block-article + .block-article
    {
      margin: 2em 0 0;
    }

    .block-column
    {
      display: block;
    }
  }

  &.row-2-columns
  {
    .block-1-column
    {
      width: 48%;

      & + .block-1-column
      {
        margin-left: 4%;
      }
    }
  }

  &.row-3-columns
  {
    .block-1-column
    {
      width: 32%;
      margin-bottom: 2em;

      & + .block-1-column
      {
        margin-left: 1.5%;
      }

      // IE 8
      &:nth-child(3n+1)
      {
        margin-left: 0;
      }
    }
  }
}

.inner-content
{
  padding: 0.4em 1em;
}

.metro,.rer
{
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
  line-height: 1.6;
}

.ligne
{
  display: inline-block;
  line-height: 1.4;
  width: 1.4em;
  text-align: center;
  .border-radius(50%);

  margin-left: 0.2em;

  &:first-child
  {
    margin-left: 0;
  }

  &.ligne-1
  {
    background-color: #fdcf00;
  }

  &.ligne-2
  {
    background-color: #0065ae;
    color: #fff;
  }

  &.ligne-3
  {
    background-color: #a0981a;
    color: #fff;
  }

  &.ligne-5
  {
    background-color: #f79544;
  }

  &.ligne-7
  {
    background-color: #fb9eb3;
  }

  &.ligne-8
  {
    background-color: #cdaccf;
  }

  &.ligne-9
  {
    background-color: #d4c800;
  }

  &.ligne-11
  {
    background-color: #976130;
    color: #fff;
  }

  &.ligne-12
  {
    background-color: #0a793d;
    color: #fff;
  }

  &.ligne-13
  {
    background-color: #99d6e0;
  }
}

.rer
{
  .ligne
  {
    border: 2px solid #e4b800;
    color: #e4b800;
    .box-sizing(content-box);
  }
}
