.bloc-desinscription {
	

	.profil-header { padding: 1em 0; 

		.btn-back { display: inline-block; width: 15%; vertical-align: top; 
			a { position: relative; .ico-circle-prev; padding-left: 30px;
				&:before { position: absolute; top: 2px; left: 0; margin-right: 5px; font-size: 20px; font-weight: bold; color: @vertTexte; }
			}
		}

		.bloc-content { display: inline-block; width: 80%; padding: 0 2em; margin: 0; 
			.title { margin: 0 0 1em; font-family: @primary-font-bold; font-size: 1em; font-weight: normal; text-align: center; vertical-align: top;	}
			.content {margin: 0 0 1em;  text-align: center; }
		}

	}

	.form-retour {
		strong { font-family: @primary-font-bold; font-weight: normal; }
	}

	.bloc-formulaire form { margin-top: 0; }
}