/* styles pour les formulaires */

// Champs de recherche du surheader
 header {
 	form { position: relative; }
	input[type="search"] { -webkit-appearance: none; background-color: #fff; border: none; border-left: solid 1px #e5e4e3; border-right: solid 1px #e5e4e3; color: #787778; font-size: 1em; font-weight: bold; margin: 0; padding: 9px 25px 10px 10px; vertical-align: bottom; }
	input[type="image"] { margin-top: -8px; position: absolute; right: 10px; top: 50%; }
 }

// formulaire dans le contenu
.bloc-formulaire form {

	width: 90%;
	max-width: 695px; // breakpoints inside partials > _layout.scss
	margin: 2em auto;
	.clearfix;

	fieldset {
		margin: 24px 0;
	}

	legend {
		padding-bottom: 10px;
		margin-bottom: 20px;
		font-size: 2em;
		border-bottom: 1px solid @border;
	}

	.form-item {
		/* form element wrapper */
		position: relative; 
		margin: 40px 0;
		background-color:#FFF;
		border: 1px solid @border;
		z-index: 1; 

		&:focus {
			outline: none;
			background-color: @vert-lighter;
			border-color: @vertTexte;
		}

		.visually-hidden {
			 + select,
			 + input { width: 100%; }
		}
	}

	p + .form-item { 
		margin-top: 10px;
	}

	h4 {
		font-size: 1.3em;
		color: @texte;
		margin-bottom: 10px;
	}

	.label {
		display: block;
	}

	input, textarea, select, label, .label {
		font-family: @primary-font;
		font-size: 1em;
		color: @texte;
	}

	label {
		font-size: 1em;
		color: @vertTexte;
		display: inline-block;
		padding-left: 0.5em;
		pointer-events: none;
		overflow: hidden;
		.transition(transform 0.25s ease-in-out);
		z-index: 100;
		vertical-align: middle;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea,
	select,
	legend {
		display: block;
		width: 100%;
		.appearance(none);
		.placeholder;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	textarea,
	select {
		/* general style for input elements */
		display: inline-block;
		width: auto;
		padding: 0.75em 0.75em 0.75em 0.5em;
		background: #FFF;
		border: none;
		vertical-align: middle;
		

		&:focus {
			outline: none;
		}
	}

	.form-type-select {
		/* select element wapper */
		position: relative;
		width: 60%;
		.ico-fleche-bottom;

		&:after {
			/* arrow icon for select element */
   	 	border-left: 1px solid @border;
		  display: block;
		  font-size:0.5em;
		  line-height: 50px;
		  min-height: 50px;
		  min-width: 50px;
		  // padding: 0 3%;
		  pointer-events: none;
		  position: absolute;
		  right: 0;
		  top: 0;
		  text-align: center;
		}

		

	}

	.form-type-date,
	.form-type-number,
	.form-type-code-postal {
		width: 60%;
	}

	.form-type-checkbox { border: none;
		label {

			color: @texte;
			font-size: 1em;
			// font-family: @primary-font-bold;
		}

		a { font-family: @primary-font-bold; }
	}


	.form-type-checkbox, 
	.form-type-radio {
		input {

		}
		label {
			pointer-events: auto;
			position: static;
			font-size: 1em; 
			font-weight: normal;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
	}


	select {
		cursor: pointer;
	}

	select::-ms-expand {
		display: none;
	}

	.form-radios, .form-radios {
		margin-top: 16px;
		.clearfix;

		.form-item {
			/* wrapper for radio and checkbox input types */
			display: inline-block;
			position: relative;
			.user-select(none);
			margin: 0 26px 16px 0;
			float: left;
		}
	}


	input[type=radio],
	input[type=checkbox] {
		/* hide original check and radio buttons */
		position: absolute;
		left: 0;
		top: 50%;
		.transform(translateY(-50%));
		margin: 0;
		padding: 0;
		opacity: 0;
		z-index: 2;
	}

	input[type="radio"] + label,
	input[type="checkbox"] + label {
		padding-left: 24px;
	}

	input[type="radio"] + label::before,
	input[type="radio"] + label::after,
	input[type="checkbox"] + label::before,
	input[type="checkbox"] + label::after {
		/* custom radio and check boxes */
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -8px;
		width: 16px;
		height: 16px;
		color: @vertTexte;
	}

	input[type="radio"] + label::before,
	input[type="checkbox"] + label::before {
		border: 1px solid @border;
		background: #FFF;
	}

	input[type="radio"] + label::after,
	input[type="checkbox"] + label::after {
		background-position: center center;
		background-repeat: no-repeat;
		display: none;
	}

	input[type="radio"] + label::after {
		/* custom image for radio button */
		content: "●";
		font-size: 0.9em;
		padding-left: 2px;
	}

	input[type="checkbox"] + label::after,
	input[type="checkbox"]:focus + label::after {
		/* custom image for checkbox */
		content: "✔";
		font-size: 0.9em;
		padding-left: 2px;
	}

	input[type="radio"]:focus + label::before,
	input[type="checkbox"]:focus + label::before {
  	/* add focus effect for radio and check buttons */
  	outline: none;
		background: @vert-lighter;
		border-color: @vertTexte;
	}

	input[type="radio"]:checked + label::after,
	input[type="checkbox"]:checked + label::after {
		display: block;
	}

	textarea {
		min-height: 200px;
		resize: vertical;
		overflow: auto;
	}

	input[type="submit"],
	button[type="submit"],
	.btn {
		/* button style */
		border: none;
		background: @vertAplat;
		padding: 10px 20px;
		margin-top: 10px;
		color: #FFF;
		font-size: @primary-font-bold;
		font-weight: normal;
		cursor: pointer;
		text-transform: uppercase;
		.font-smoothing;
		.appearance(none);

		.no-touch &:hover {
			background: @vertTexte;
		}

		&:focus {
			outline: none;
			background: @vertTexte;
		}

		&:active {
			.transform(scale(.9));
		}
	}

	.form-actions {
		clear: both;
		text-align: center;

		a { font-family: @primary-font-bold; color: @texte; text-decoration: underline;}
	}


	[required] {
		background: url('../img/cd-required.svg') no-repeat top right;
	}


	.messages {  display:none; // A EFFACER 
		color: @texte;
		font-family: @primary-font;
		font-size: 1em;
		text-align: left;
		.font-smoothing;
		margin: -25px 0 0;
		padding: 10px 0;
	}

	.error {
		color: red !important;
	}


} /* fin bloc-formulaire */


// ajustements

.bloc-formulaire form {
	.user-links { float: right; margin: 0;
		p { margin: 0; }
		a { font-family: @primary-font-bold; color: @texte; }
	}

}

// boutons > lien
.bloc-btn {
	margin: 20px 0;
	text-align: center;
}

.btn {
		/* button style */
		border: none;
		background: @vertAplat;
		display: inline-block;
		padding: 10px 20px;
		margin-top: 10px;
		color: #FFF;
		font-weight: normal;
		font-size: 0.9em;
		cursor: pointer;
		text-transform: uppercase;
		font-family: @primary-font-bold;
		.font-smoothing;
		.appearance(none);


		&:focus {
			outline: none;
			background: @vertTexte;
		}

		&:active {
			.transform(scale(.9));
		}
	}



// effet sur les labels

.bloc-formulaire form .input--filled { background-color: @vert-lighter; border: 1px solid @vertTexte;

	input {
	 background-color: @vert-lighter; 
	}

	label {
		position: absolute;
		top: 0;
		left: 0;
		padding-left: 0;
		font-size: 0.8em;
		font-weight: bold;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}

	//annuler l'effet quand c'est des boutons radio et checkbox
	&.form-type-checkbox, 
	&.form-type-radio { background: transparent; border: none;
		label {
			position: static;
			font-size: 1em; 
			font-weight: normal;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
	}

}

// confirmation mot de passe

	.password-confirm,
	.password-strength-title { 
		//display: none;  A EFFACER 
	}



// .form-type-password-confirm {
//   position: relative;
//   padding: 0 0 2em;
// }

// .password-strength {
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   overflow:hidden;
//   padding: 0 0 2em;

// }

// .password-strength-title {
//   position: absolute;
//   right: 100%;
// }

// .password-indicator {
//   border: 1px solid #ccc;
//   vertical-align: middle;
//   position: relative;

// }

// .password-strength-text {
//   position: absolute;
//   left: 0;
//   bottom: 0;
// }

// .indicator {
//   background-color: #fed000;
//   height: 10px;
//   width: 0;
// }


// .password-suggestions {
//   position: absolute;
//   right: 0;
// }

// .password-mask {
//   position: absolute;
//   background-color: #fff;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   width: 100%;

//   display: none;
// }
