// breakpoints
   
@S:     480px;   
@M:     768px;     
@L:     960px;     

// media queries

 @media only screen and (max-width: @S) { 

 } 

 /* ==== */

 @media only screen and (max-width: @M) { 

		
		#maratp { width: 100%;

			#main { margin: 0 4%; }
			.container { width: 100%; }
		}

		// FORM
		.bloc-formulaire form {

			.form-type-select,
			.form-type-date { width: 100%; }
		} 

 }

 /* ==== */

 @media only screen and (max-width: @L) { 

 }