// Alertes étape 1
.all-alertes {
	.bloc {
		margin-top: 30px;
		.entete {
			font-family: @primary-font-bold; color: #3f4a48; border: 1px solid @border;
			p {display: inline-block; margin: 0px;}
			.number {color: #fff; background-color: @vertTexte; padding: 4px 10px; margin-right: 12px; }
			.classer {
				float: right; margin-right: 10px; margin-top: 4px;
				.ico-caret-up {margin-left: 11px; margin-right: 6px;}
			}
		}
		.metro {
			font-family: @primary-font; font-weight: normal; padding-left: 28px; border-left: 1px solid @border; border-right: 1px solid @border;
			p {
				display: inline-block;
				img { margin-top: -7px;}
			}
			.nom-ligne { margin-left: 22px; display: inline-block;}
		}
		.horaires {
			background-color: #f6f6f6; padding-left: 28px; border: 1px solid @border; border-top: none;
			p { 
				display: inline-block;
				span {color: @vertTexte;}
			}
			.creneau-1 { margin-left: 40px; margin-right: 36px;}
		}
		.modifier-supprimer { 
			p {display: inline-block; font-family: @primary-font-bold;}
			.supprimer {float: right;}
		}
	}
	.empty {
		text-align: center; font-family: @primary-font-bold; color: @vertTexte; font-size: 1.125em;text-transform: uppercase; height: 123px; border: 1px dashed @border;
		p {margin-top: 53px;}
	}
}


// Alertes étape 2
.chapo-profil { 
	p { 
		display: inline-block;
		&:first-child {float: left;}
	}
}
h3 { font-size: 1.125em; font-family: @primary-font-bold;text-transform: uppercase;}
.transports {
	list-style: none; display: inline-block; margin: 0px; padding: 0px; height: 41px; border-bottom: 1px solid @texte2;
	li { 
		float: left;
		a.active, a:hover {border-bottom: 4px solid @vertTexte;}
	}
}

 @media only screen and (max-width: 661px) {

 	.all-alertes {
		.bloc {
			.metro {
				.nom-ligne { font-size: 0.9em;}
			}
			.horaires {
				p { font-size: 0.9em;}
				.creneau-1 { margin-left: 15px; margin-right: 10px; }

			}
		}
 	}
 }

 @media only screen and (max-width: 580px) {
	
	.all-alertes {
		.bloc {
			.metro {
				padding-left: 12px;
				.numero-ligne { display: block; float: left;}
				.nom-ligne { 
					font-size: 1em; display: block; margin-left: 65px; padding-bottom: 25px; line-height: 1.4;
					p { 
						display: block; margin-top: 0px; margin-bottom: 0px;
						&:first-child {padding-top: 15px;}
					}
				}
			}
			.horaires {
				p { font-size: 1em; display: block;}
				.jours { margin-top: 0px; padding-top: 15px;}
				.creneau-1 { margin-left: 0px; margin-right: 0px; }

			}
		}
 	}

 }
