// Horaires étape 1
.all-horaires {
	.bloc {
		margin-top: 20px;
		.entete {
			font-family: @primary-font-bold; color: #3f4a48; border: 1px solid @border;
			p {display: inline-block; margin: 0px;}
			.number {color: #fff; background-color: @vertTexte; padding: 4px 10px; margin-right: 12px; }
			.classer {
				float: right; margin-right: 10px; margin-top: 4px;
				.ico-caret-up {margin-left: 11px; margin-right: 6px;}
				.ico-caret-up, .ico-caret-down {cursor: pointer;}
			}
		}
		.metro {
			font-family: @primary-font; font-weight: normal; padding-left: 28px; border: 1px solid @border; border-top: none;
			.numero-ligne {
				float: left;
				img { margin-top: -7px;}
			}
			.nom-ligne { 
				margin-left: 22px; display: inline-block;
				span {color: @vertTexte;}
				.station {margin-bottom: -8px;}
				.direction {margin-top: 0;}
			}
		}
		.modifier-supprimer { 
			p {
				display: inline-block; font-family: @primary-font-bold;
				&:first-child {cursor: pointer;}
			}
			.supprimer {float: right; cursor: pointer;}
			.supp-alerte {
				float: right; font-family: @primary-font; display: none;
				span {font-family: @primary-font-bold; color: #3f4a48;}
			}
		}
	}
	.separation {border-top: 1px dashed @border;margin: 15px 0px;}
	.add {
		text-align: center; font-family: @primary-font-bold; color: @vertTexte; font-size: 1.125em;text-transform: uppercase; height: 123px; border: 1px dashed @border; cursor: pointer;
		p {margin-top: 53px;}
	}
}


 @media only screen and (max-width: 480px) {

	.all-horaires {
		.bloc {
			.metro {
				.nom-ligne {
					line-height: 1.3;
					span { display: block;}
					.station {margin-bottom: 15px;}
				}
			}
		}
	}

}