/* @group Inscription */

		.form-retour { margin-top: 20px; text-align: center; }
		.details { font-size: 0.9em; }

	/* @end Inscription */



		/* @group Mon profil */

			.chapo-profil { font-family: @primary-font-bold; text-align: center; }

			.bloc-profil { .clearfix;
				.profil-header { position: relative; border-bottom: 1px dashed @texte;
					.check { position: absolute; top: 0; left: 0; .text-hidden; .ico-check;
						&:before { position: absolute; top: 0; left: 0; font-size: 3em; line-height: 0.5; color: @vertTexte; }
					}
					.title { margin: 2em 1em 1em; margin-top: 2em; padding: 0 5em; font-family: 'brandon_grotesqueblack'; font-size: 1.15em; font-weight: normal; text-align: center; text-transform: uppercase; }
					.btn-edit { position: absolute; top: 0; right: 0;
						button {  .ico-pencil; background: none; color: @texte; border: none; cursor: pointer;
							&:after { margin-left: 5px; }
							&.cancel { .ico-cancel;  }
						}
					}
				}
			}

			.btn-desinscription { text-align: center;
				a { font-family: @primary-font-bold; color: @texte; text-decoration: underline; }
			}



	/* @end Mon profil */



		@media only screen and (max-width: 480px) {

			.menu-dashboard { margin: -20px -5% 0 -5%; border: none;
				.menu {
					li { float: none; width: 100%;
						a {  padding: 5px 15%;  background: @vertAplat; font-family: 'brandon_grotesque_regularRg'; font-size: 1.2em; color: #FFF; text-align: left; border: none; 
							&:hover, &:focus, &.active { border: none; text-decoration: underline;}
					 }
					}
				}
			}

			.bloc-profil {
				 .profil-header {
				 		.title { padding-left: 0; padding-right: 6em; font-size: 1em; text-align: left; }
				 	 .check { display: none; }
				 	 .btn-edit { bottom: 15px; top: auto; }
				 	}
			}

			.bloc-formulaire form .btn, 
			.bloc-formulaire form button[type="submit"], 
			.bloc-formulaire form input[type="submit"], 
			.btn { width: 100%; }
			
		}
