/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

#cboxOverlay
{
  //background-color: #fff;
  background-color: rgba(0,0,0,0.5);
}

#cboxWrapper
{
  background-color: #fff;

  #cboxClose
  {
    position: absolute;
    top: 0.5em;
    right: 1.2em;
    background-color: transparent;
    color: transparent;
    border: none;
    overflow: hidden;
    width: 2.6em;
    height: 2em;

    .ico-close;

    &:before
    {
      color: #fff;
      font-size: 1.8em;
    }
  }
  //
  // .bx-viewport
  // {
  //   min-height: 400px;
  // }
}

#full-popin
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  display: none;

  &[aria-hidden='false']
  {
    display: block;
  }
}

.popin
{
  header
  {
    background-color: @vertAplat;
    color: #fff;
    padding: 0.4em 2em;

    h1
    {
      margin: 0;
      text-align: center;
      font-size: 1.4em;
      font-family: @primary-font-bold;
      font-weight: normal;
    }

    b
    {
      font-weight: inherit;
      text-transform: uppercase;
    }
  }

  .form-item
  {
    &.large
    { padding-top: 0.5em;
      label
      {
        vertical-align: top;
        //padding-top: 1em;
      }
      textarea { padding: 0.5em; }
    }
  }

  .bloc-formulaire
  {
    form
    {
      .form-item
      {
        margin-bottom: 0;
      }

      p
      {
        margin: 0;

        &.note
        {
          font-size: 0.9em;
          margin-top: 1.6em;
        }
      }

      .form-actions
      {
        text-align: right;
        margin-top: -2.4em;
      }
    }
  }
}

.popin-full
{
  .btn-privileges,.action
  {
    text-align: center;
  }

  .title
  {
    text-transform: uppercase;
    font-family: 'brandon_grotesquebold';//'brandon_grotesque_regularRg';
  }

  .action
  {
    i
    {
      text-transform: none;
    }

    .panel-action
    {
      position: relative;
      padding-right: 3.5em;

      &:before
      {
        position: absolute;
        top: 50%;
        right: 0.5em;
        font-size: 1.6em;
        line-height: 1;
        margin-top: -0.6em;
      }
    }
  }

  #main
  {
    @screenButtonSpace: 1em;

    position: relative;

    .screen-action
    {
      position: absolute;
      top: 50%;
      line-height: 1;
      font-size: 3em;
      color: #000;
    	text-align: center;
      .text-hidden;
    }

    .screen-prev
    {
    	left: @screenButtonSpace;
    	.ico-fleche-left;
    }

    .screen-next
    {
    	right: @screenButtonSpace;
    	.ico-fleche-right;
    }
  }
}
