// colors

@texte:             #404342;
@texte2: 			#545454;
@border: 			#b2b2b2;

@vertAplat:         #00aa91;
@vertTexte:         #008672;
@vert-light:        #80c1b8;
@vert-lighter:      #e7fdfb;

@gray-lighter:      #e5e4e3;
@gray:              #787778;
@gray-dark:         #595959;
@gray-darker:       #303030;



@primary-font: 'brandon_grotesquelight', sans-serif;
@primary-font-bold: 'brandon_grotesquebold', sans-serif;

// icones

.icone {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-pencil          { &:after { .icone; content: "\e600"; -webkit-alt:""; } }
.ico-fleche-bottom   { &:after { .icone; content: "\e601"; -webkit-alt:""; } }
.ico-check           { &:before { .icone; content: "\e602"; -webkit-alt:""; } }
