// colors

@texte:             #404342;
@texte2: 			#545454;
@border: 			#b2b2b2;

@vertAplat:         #00aa91;
@vertTexte:         #008672;
@vert-light:        #80c1b8;
@vert-lighter:      #e7fdfb;

@gray-lighter:      #e5e4e3;
@gray:              #787778;
@gray-dark:         #595959;
@gray-darker:       #303030;

@imageDir: '../img/';



@primary-font: 'brandon_grotesquelight', sans-serif;
@primary-font-bold: 'brandon_grotesquebold', sans-serif;

// icones

.icone {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-alt:"";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

     -webkit-alt:"";
}


.ico-pencil          {  &:after { .icone; content: "\e601"; } }
.ico-check           { &:before { .icone; content: "\e602"; } }
.icon-picto-help     { &:before { .icone; content: "\e603"; } }
.ico-circle-left     { &:before { .icone; content: "\e604"; } }

.ico-tel             {  &:after { .icone; content: "\e605"; position: relative; top: 0.2em; font-size:1.3em;} }

.ico-circle-next     { &:before { .icone;content: "\e607";} }
.ico-circle-prev     { &:before { .icone;content: "\e608";} }
.ico-close           { &:before { .icone;content: "\e606";} }

.ico-caret-down      { &:before { .icone; content: "\f0d7"; } }
.ico-caret-up        { &:before { .icone; content: "\f0d8"; } }
.ico-trash           { &:before { .icone; content: "\e606"; } }
.ico-bell-slash      { &:before { .icone; content: "\f1f6"; } }
.ico-bell-slash-0    { &:before { .icone; content: "\f1f7"; } }

// fleches
.ico-fleche-bottom   {  &:after { .icone; content: "\e60a"; } }
.ico-fleche-right    { &:before { .icone; content: "\e60c"; } }
.ico-fleche-left     { &:before { .icone; content: "\e60b"; } }

// réseaux sociaux
.ico-facebook        { &:before { .icone; content: "\e600"; } }
.ico-twitter         { &:before { .icone; content: "\e62a"; } }
