<div class="block-article block-column block-full">
  <article>

    <div class="meta">
    <figure>
    <img src="img/@@visuel" alt="" />
    </figure>
      <div class="inner-content">
      <p class="rubrique">@@rubrique</p>
      <h3>@@titre</h3>
      <p class="date">@@date</p>
      </div>
    </div>

    <aside role="contentinfo">
      <div class="inner-content">
        @@if (logo !== '')
        {
          <p class="logo"><img src="img/@@logo" alt="" /></p>
        }

        @@if (links !== '')
        {
          @@links
        }

        @@if (lieu !== '')
        {
          <p>@@lieu</p>
        }
        @@if (metro !== '')
        {
          <p>@@metro</p>
        }
      </div>
    </aside>

  <div class="block-content">
  <p class="chapo">@@chapo</p>
  <h4>@@sousTitre</h4>
  <p>@@texte</p>
  <p class="action"><a href="" class="block-action">Participer</a></p>
  </div>
  
  </article>
</div>
