<div class="block-article block-column block-full">
  <article>

    <div class="meta">
    <figure>
    <img src="img/@@visuel" alt="" />
    </figure>
      <div class="inner-content">
      <p class="rubrique">@@rubrique</p>
      <h3>@@titre</h3>
      <p class="date">@@date</p>
      </div>
    </div>

    <div class="block-content">
    <p class="chapo">@@chapo</p>
    <h4>@@sousTitre</h4>
    <p>@@texte</p>
    <p class="action"><a href="#" class="block-action panel-action" data-target="panel-1">Je participe</a></p>
    @@if(form !== '' && form === 'true')
    {
      <form>
      <div class="form-panel" id="panel-1">
      <h3>1/3</h3>
      <p><label for="address-field">Mon adresse* :</label>
      <input type="text" name="" id="address-field" value="" /></p>
      <p class="note">*champ obligatoire</p>
      <p class="btn-action"><button data-target="panel-2" name="" class="panel-action panel-next ico-circle-next">Suivant</button></p>
      </div>
      <div class="form-panel" id="panel-2">
      <h3>2/3</h3>
      <p><label for="cp-field">Mon code postal* :</label>
      <input type="text" name="" id="cp-field" value="" /></p>
      <p class="note">*champ obligatoire</p>
      <p class="btn-action"><button data-target="panel-1" name="" class="panel-action panel-prev ico-circle-prev">Retour</button>
      <button data-target="panel-3" name="" class="panel-action panel-next ico-circle-next">Suivant</button></p>
      </div>
      <div class="form-panel" id="panel-3">
      <h3>3/3</h3>
      <p><label for="city-field">Ma ville* :</label>
      <input type="text" name="" id="city-field" value="" /></p>
      <p class="note">*champ obligatoire</p>
      <p class="btn-action"><button data-target="panel-2" name="" class="panel-action panel-prev ico-circle-prev">Retour</button>
      <button data-target="panel-4" name="" class="panel-action panel-next ico-circle-next">Suivant</button></p>
      </div>
      <div class="form-panel" id="panel-4">
      <p class="top-space panel-content"><label class="styled-check"><input type="checkbox" name="" id="reglement-check" value="" /></label> J’ai lu et j’accepte le <a href="#">règlement du tirage au sort</a>.</p>
      <p class="main-action"><input type="submit" name="" value="Je valide" id="last-step" class="action-focus" /></p>
      <p class="btn-action"><button data-target="panel-3" name="" class="panel-action panel-prev ico-circle-prev">Retour</button>
      <!--button data-target="panel-4" name="" class="panel-action panel-next ico-circle-next">Suivant</button--></p>
      </div>
      </form>
    }
</div>


    <aside role="contentinfo">
      <div class="inner-content">
        @@if (logo !== '')
        {
          <p class="logo"><img src="img/@@logo" alt="" /></p>
        }

        @@if (links !== '')
        {
          @@links
        }

        @@if (lieu !== '')
        {
          <p>@@lieu</p>
        }
        @@if (metro !== '')
        {
          @@metro
        }
      </div>
    </aside>




  </article>

  @@if(message !== '' && message === 'true')
  {
    <div id="merci" class="bandeau-message">
    Merci d’avoir participé !
    Faites découvrir maRATP

    <ul class="social-action">
    <li><a href="" class="ico-facebook">Facebook</a></li>
    <li><a href="" class="ico-twitter">Twitter</a></li>
    </ul>
    </div>
  }
</div>
