<div class="block-article block-voirfaire block-column block-1-column">

  <header class="inner-content">
  <p class="rubrique">@@rubrique</p>
  <h3>@@titre</h3>
</header>

  <figure><img src="img/@@visuel" alt="" /></figure>

  <dl class="block-content">
  @@if (quoi !== '')
  {
    <dt>Quoi :</dt>
    <dd>@@quoi</dd>
  }
  @@if (qui !== '')
  {
    <dt>Avec qui :</dt>
    <dd>@@qui</dd>
  }
  @@if (quand !== '')
  {
    <dt>Quand :</dt>
    <dd>@@quand</dd>
  }
  @@if (plus !== '')
  {
    <dt>Le + :</dt>
    <dd>@@plus</dd>
  }
  </dl>

  <div class="inner-content">
  <p>@@adresse</p>
  @@if (tel !== '')
  {
    <p class="tel" aria-label=\"Téléphone\"><span class="ico-tel" role="decoration"></span> @@tel</p>
  }
  @@if (metro !== '')
  {
    @@metro
  }
  @@if (rer !== '')
  {
    @@rer
  }

  </div>

  <p class="group-action">
  <a href="" class="block-action go">J’y vais</a>
  <a href="" class="block-action share">Je partage</a>
  </p>
</div>
