<div class="block-article block-column block-full">
  <article>

    <div class="meta">
    <figure>
    <img src="img/@@visuel" alt="" />
    </figure>
      <div class="inner-content">
      <p class="rubrique">@@rubrique</p>
      <h3>@@titre</h3>
      <p class="date">@@date</p>
      </div>
    </div>

    <div class="block-content" id="form-slide-block">
      <div class="block-panel">
      <p class="chapo">@@chapo</p>
      <h4>@@sousTitre</h4>
      <p>@@texte</p>
      @@if(participe !== '' && participe === 'true')
      {
        <p class="action"><a title="@@title-lien" href="#" id="start-form" class="block-action panel-action" data-target="panel-1">Je participe</a></p>
      }
      </div>

    @@if(form !== '' && form === 'true')
    {
      <form class="form-slide">

      <div class="form-panel" id="panel-1" tabindex="-1" aria-hidden="true" data-prev-focus="#start-form">
      <h3>1/3</h3>
      <p><label for="address-field">Mon adresse* :</label>
      <input type="text" name="" id="address-field" value="" tabindex="-1" /></p>
      <p class="note">*champ obligatoire</p>
      <p class="btn-action"><button data-target="panel-2" name="" tabindex="-1" class="panel-action panel-next ico-circle-next">Suivant</button></p>
      </div>

      <div class="form-panel" id="panel-2" tabindex="-1" aria-hidden="true">
      <h3>2/3</h3>
      <p><label for="cp-field">Mon code postal* :</label>
      <input type="text" name="" id="cp-field" value="" tabindex="-1" /></p>
      <p class="note">*champ obligatoire</p>
      <p class="btn-action">
        <button data-target="panel-3" name="" tabindex="-1" class="panel-action panel-next ico-circle-next">Suivant</button>
        <button data-target="panel-1" name="" tabindex="-1" class="panel-action panel-prev ico-circle-prev">Retour</button>
      </p>
      </div>

      <div class="form-panel" id="panel-3" tabindex="-1" aria-hidden="true">
      <h3>3/3</h3>
      <p><label for="city-field">Ma ville* :</label>
      <input type="text" name="" id="city-field" value="" tabindex="-1" /></p>
      <p class="note">*champ obligatoire</p>
      <p class="btn-action">
        <button data-target="panel-4" name="" tabindex="-1" class="panel-action panel-next ico-circle-next">Suivant</button>
        <button data-target="panel-2" name="" tabindex="-1" class="panel-action panel-prev ico-circle-prev">Retour</button>
      </p>
      </div>

      <div class="form-panel" id="panel-4" tabindex="-1" aria-hidden="true">
      <p class="top-space panel-content"><label for="reglement-check" class="styled-check"><input type="checkbox" name="" tabindex="-1" id="reglement-check" value="" /></label> J’ai lu et j’accepte le <a tabindex="-1" href="#">règlement du tirage au sort</a>.</p>
      <p class="main-action"><input type="submit" name="" tabindex="-1" value="Je valide" id="last-step" data-target="panel-5" class="action-focus panel-action" /></p>
      <p class="btn-action"><button data-target="panel-3" name="" tabindex="-1" class="panel-action panel-prev ico-circle-prev">Retour</button></p>
      </div>

      <div class="form-panel message-panel" id="panel-5" tabindex="-1" aria-hidden="true" data-close="false">
      <p>Merci d’avoir participé !</p>
      <p><a href="14-decouvrir-maratp.html" tabindex="-1" class="action-focus panel-action popin-action ico-mail"><b>Faites découvrir</b> <i>ma</i>RATP</a></p>
      </div>

      </form>
    }

    @@if(bottomPanel !== '')
    {
      <div class="panel-bottom">@@bottomPanel</div>
    }
</div>


    <aside>
      <div class="inner-content">
        @@if (logo !== '')
        {
          <p class="logo"><img src="img/@@logo" alt="@@logo-alt" /></p>
        }

        @@if (links !== '')
        {
          @@links
        }

        @@if (lieu !== '')
        {
          <p>@@lieu</p>
        }
        @@if (metro !== '')
        {
          @@metro
        }
      </div>
    </aside>




  </article>

  @@if(message !== '' && message === 'true')
  {
    <div id="merci" class="bandeau-message">
    <p>Merci d’avoir participé !
    <b>Faites découvrir maRATP</b></p>

    <ul class="social-action">
    <li><a href="" class="ico-facebook image-text">Facebook</a></li>
    <li><a href="" class="ico-twitter image-text">Twitter</a></li>
    </ul>
    </div>
  }
</div>
